<html>
    <body>
        <div>    
            <table>
                <tr>
                    <td>Info del Sistema y dotenv</td>
                    <td><%= data.argumentos %></td>
                </tr>
                <tr>
                    <td>Path de ejecución</td>
                    <td><%= data.path %></td>
                </tr>
                <tr>
                    <td>Plataforma</td>
                    <td><%= data.plataforma %></td>
                </tr>
                <tr>
                    <td>Process Id</td>
                    <td><%= data.pid %></td>
                </tr>
                <tr>
                    <td>Version</td>
                    <td><%= data.version %></td>
                </tr>
                <tr>
                    <td>Directorio del proyecto</td>
                    <td><%= data.directorio %></td>
                </tr>
                <tr>
                    <td>Memoria (rss)</td>
                    <td><%= data.memoria %></td>
                </tr>                <tr>
                    <td>dot.env (Variables de Entorno)</td>
                    <td><%= data.config %></td>
                </tr>
            </table>
        </div>
    </body>
</html>